.search-container {
    background-color: rgba(255, 255, 255, 0.349);
    padding: 1% 5% 5% 5%;
    margin-top: 10%;
}

.topcontainer{
    text-align: center;
}

.search-box{
    display: flex;
}

input::placeholder{
    color: rgba(0, 0, 0, 0.425);
}

.search-box > form{
    width: 100%;
}

.icons{
    margin: auto 1% auto 1%;
}

.input-field{
    display: flex;
}

.select-wrapper{
    width: 100%;
}

.datetime{
    display: flex;
}

.search-button{
    margin-top: 2%;
    display: flex;
    flex-direction: row-reverse;
}