#map {
    width: 100%;
    height: 100%;
}

#modal-endereco {
    max-width: 800px;
    max-height: 800px;
}

#modal-endereco>#modal-content {
    width: 800px;
    height: 800px;
}

.mapboxgl-ctrl-geocoder {
    width: 600vw;
}

.mapboxgl-ctrl-geocoder--icon {
    margin-top: 1.3%;
}

div.mapboxgl-ctrl-geocoder>.mapboxgl-ctrl-geocoder--input {
    padding-left: 10%;
    width: 90%;
}

div.mapboxgl-ctrl-group {
    display: flex;
    flex-direction: row;
}